<div class="container">
  <div class="comments-index-item">
    <div class="comment-user">
      <div class="comment-index-user-image">
        <%= image_tag comment.user.avatar %>
      </div>
      <div class="comment-index-user-name">
        <%= comment.user.name %>
      </div>
    </div>
    <div class="comment-item">
      <%= safe_join(comment.content.split("\n"),tag(:br)) %>
      <div class="comment-time">
        <%= comment.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </div>
      <% if comment.user_id == @current_user.id %>
        <div class="comment-destroy">
          <%= button_to '削除', dummy2_post_comment_path(post_id: post.id, id: comment.id), class: 'destroy-modal' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
