<div class="page-title">
  <h3>登録情報確認</h3>
</div>

<div class="user-confirm-item">
  <div class="container">
    <div class="users-show-item">
      <div class="user-image">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% end %>
      </div>
      <div class="user-name">
        <p><%= @user.name %></p>
      </div>
      <div class="email">
        <p><%= @user.email %></p>
      </div>
    </div>

    <%= form_with model: @user, url: confirmed_user_path(@user), data: { turbo: false } do |form| %>
      <%= form.hidden_field :name %>
      <%= form.hidden_field :email %>
      <%= form.hidden_field :avatar %>
      <%= form.submit "登録", class: "button1" %>
      <%= form.submit "修正", name: "back", class: "button1" %>
    <% end %>
  </div>
</div>

