<div class="page-title">
  <h3>ユーザー登録</h3>
</div>

<%= form_with model: @user, url: confirm_users_path(@user), data: { turbo: false } do |form| %>
  <div class="main users-new">
    <div class="container">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <div class="text-field-group">
        <p>ユーザー名</p>
        <%= form.text_field :name, class: "users-text-field" %>
      </div>
      <div class="text-field-group">
        <p>E-mail</p>
        <%= form.text_field :email, class: "users-text-field" %>
      </div>
      <%= form.submit "登録", class: "input1" %>
    </div>
  </div>
<% end %>

<div class="turn-back">
  <%= link_to '戻る', users_path, remote: false, class: 'return' %>
</div>