<div class="page-title">
  <h3>ユーザー登録</h3>
</div>

<%= form_with model: @user, data: { turbo: false } do |form| %>
  <div class="main users-new">
    <div class="container">
      <div class="text-field-group-users">
        <%= form.label :name, "ユーザー名" %>
        <%= form.text_field :name, class: "users-text-field" %>
      </div>
      <div class="text-field-group-users">
        <%= form.label :email, "E-mail" %>
        <%= form.text_field :email, class: "users-text-field" %>
      </div>
      <div class="login-field-group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "users-login-field" %>
      </div>
      <div class="login-field-group">
        <%= form.label :password_confirmation, 'password(確認)' %>
        <%= form.password_field :password_confirmation, class: "users-login-field" %>
      </div>
      <div class="file-field-group">
        <%= form.label :avatar, "アイコン画像" %>
        <%= form.file_field :avatar, class: "users-file-field" %>
      </div>
      <div>
        <%= form.submit "登録", class: "input1" %>
      </div>
      
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">    
          <% message = error_message_change(@email_input_flg, @password_input_flg, message) %>
          <% if message %>
            <%= "#{message}。" %>
          <% end %>

          <% if message == 'Emailを入力してください' %>  
            <% @email_input_flg = true %>
          <% end %>
          <% if message == 'Passwordを入力してください' %>
            <% @password_input_flg = true %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="turn-back">
  <%= link_to '戻る', '/', data: { turbo: false }, class: 'return' %>
</div>