<div class="page-title">
  <h3>回答内容確認</h3>
</div>

<div class="confirm-item">
  <div class="container">
    <div class="confirm-content">
      <%= safe_join(@answer.content.split("\n"),tag(:br)) %>
    </div>
    
    <%= form_with( model: @answer, url: "/answer", data: { turbo: false }) do |form| %>
      <%= form.hidden_field :content %>
      <%= form.hidden_field :post_id, value: @answer.post_id %>
      <%= form.hidden_field :user_id, value: @current_user.id %>
      <%= form.submit "投稿", class: "button1" %>
      <%= form.submit "修正", name: "back", class: "button1" %>
    <% end %>
  </div>
</div>

