<div class="page-title">
  <h3>回答投稿</h3>
</div>

<%= form_with model: @answer, url: answer_confirm_post_path(@post), data: { turbo: false }  do |form| %>
  <div class="main answer-new">
    <div class="container">
      <%= form.hidden_field :post_id, value: @post.id %>
      <%= form.hidden_field :user_id, value: @current_user.id %>
      <div class="text-area-group2">
        <%= form.label :content, "回答" %>
        <%= form.text_area :content, class: "text-area2" %>
      </div>
      <div>
        <%= form.submit "投稿", class: "button1" %>
      </div>
      
      <% @answer.errors.full_messages.each do |message| %>
        <div class="form-error2">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="turn-back">
  <%= link_to '戻る', "/posts/#{@answer.post_id}", data: { turbo: false }, class: 'return' %>
</div>