<div class="page-title">
  <h3>新規投稿</h3>
</div>

<%= form_with model: @post, url: confirm_posts_path(@post), data: { turbo: false } do |form| %>
  <div class="main posts-new">
    <div class="container">
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <div class="text-field-group">
        <%= form.label :title, "タイトル" %>
        <%= form.text_field :title, class: "text-field" %>
      </div>
      <div class="text-area-group">
        <%= form.label :content, "依頼内容" %>
        <%= form.text_area :content, class: "text-area" %>
      </div>
      <%= form.submit "投稿", class: "input1" %>
    </div>
  </div>
<% end %>

<div class="turn-back">
  <%= link_to '戻る', posts_path, remote: false, class: 'return' %>
</div>