<div class="page-title">
  <h3>質問投稿</h3>
</div>

<%= form_with model: @post, url: confirm_posts_path(@post), data: { turbo: false } do |form| %>
  <div class="main posts-new">
    <div class="container">
      <div class="text-field-group">
        <%= form.label :title, "タイトル" %>
        <%= form.text_field :title, class: "text-field" %>
      </div>
      <div class="number-field-group">
        <%= form.label :reward, "　報酬額" %>
        <%= form.number_field :reward, min: 1000, max: 50000, step: 1000, class: "number-field" %>
      </div>
      <div class="text-area-group">
        <%= form.label :content, "依頼内容" %>
        <%= form.text_area :content, class: "text-area" %>
      </div>
      <div>
        <%= form.submit "投稿", class: "button1" %>
      </div>
      
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="turn-back">
  <%= link_to '戻る', posts_path, data: { turbo: false }, class: 'return' %>
</div>