<div class="page-title">
  <h3>質問詳細</h3>
</div>

<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="posts-user-image">
        <%= image_tag @user.avatar %>
      </div>
      <div class="posts-user-name"> 
        <%= @user.name %>
      </div>
      <div class="show-reward">
        <%= "報酬額: #{@post.reward}" %>
      </div>
      <div class="posts-title">
        <%= @post.title %>
      </div>
      <div class="posts-content">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </div>
      <div class="posts-time">
        <%= @post.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= button_to "/likes/#{@post.id}/destroy", data: { turbo_method: :delete } do %>
          <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% else %>
        <%= button_to "/likes/#{@post.id}/create", data: { turbo_method: :post } do %>
          <span class="fa fa-heart unliked-btn"></span>
        <% end %>
      <% end %>
      <p><%= @likes_count %></p>
    
      <% if @post.user_id == @current_user.id %>
        <div class="posts-menus">
          <div class="edit-menu" id='commit_button' >
            <%= link_to 'コミット', "#", class: 'button3' %>
          </div>
          <div class="edit-menu">
            <%= link_to '編集', "/posts/#{@post.id}/edit", data: { turbo: false }, class: 'button1' %>
          </div>
          <div class="edit-menu" id='eliminate' >
            <%= link_to '削除', "#", class: 'button2' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="turn-back">
    <%= link_to '戻る', posts_path, data: { turbo: false }, class: 'return' %>
    </div>
  </div>
</div>

<div id="mask" class="hidden2"></div>

<section id="modal" class="hidden2">
  <p>本当に削除してよろしいですか？</p>
  <div class="buttons">
    <div id="del">
      <%= link_to '削除', "/posts/#{@post.id}", data: { turbo_method: :delete }, class: 'button2' %>
    </div>
    <div id="cancel">
      <p class="button1">中止</p>
    </div>
  </div>
</section>