<div class="page-title">
  <h3>質問詳細</h3>
</div>

<% ### 質問詳細　############################################################################## %>

<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="posts-user-image">
        <%= image_tag @user.avatar %>
      </div>
      <div class="posts-user-name"> 
        <%= @user.name %>
      </div>
      <div class="show-reward">
        <%= "報酬額: #{@post.reward}" %>
      </div>
      <div class="posts-title">
        <%= @post.title %>
      </div>
      <div class="posts-content">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </div>
      <div class="posts-time">
        <%= @post.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </div>


<% ### 投稿ユーザー ＝ ログインユーザー　########################################################### %>

      <div class="posts-menus">
        <% if @post.user_id == @current_user.id %>
          <div class="edit-menu">
            <%= link_to '編集', edit_post_path, data: { turbo_method: :get }, class: 'button1' %>
          </div>
          <div class="edit-menu" id='eliminate' >
            <%= button_to '削除', dummy_post_path(@post), class: 'button5' %>
          </div>
        <% else %>
          <% if @post.answer %>
            <div class="edit-menu">
              <%= link_to '回答済み', "#", id: 'commit_button', class: 'button4' %>
            </div>
            <div class="edit-menu">
              <%= button_to '回答', '#', id: 'answer_button', class: 'button4' %>
            </div>
          <% elsif !@post.commit %>
            <div class="edit-menu">
              <%= button_to 'コミット', commit_post_path(@post), data: { turbo: false }, id: 'commit_button', class: 'button3 lighten' %>
            </div>
            <div class="edit-menu">
              <%= link_to '回答', new_post_answer_path(@post), id: 'answer_button', class: 'button4' %>
            </div>
          <% elsif @post.commit == @current_user.id %>
            <div class="edit-menu">
              <%= button_to 'コミット解除', commit_post_path(@post), data: { turbo: false }, id: 'commit_button', class: 'button3' %>
            </div>
            <div class="edit-menu">
              <%= link_to '回答', new_post_answer_path(@post), id: 'answer_button', class: 'button1' %>
            </div>
          <% else %>
            <div class="edit-menu">
              <%= button_to 'コミット解除', "#", id: 'commit_button', class: 'button4' %>
            </div>
            <div class="edit-menu">
              <%= button_to '回答', '#', id: 'answer_button', class: 'button4' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


<% ### 回答　########################################################################### %>

    <% if @post.answer %>
      <div class="answer-show-item">
        <div class="posts-user-image">
          <%= image_tag  @answer_user.avatar %>
        </div>
        <div class="posts-user-name"> 
          <%=  @answer_user.name %>
        </div>
        <div class="posts-title">
          <p><%= '回答' %></p>
        </div>
        <div class="posts-content">
          <%= safe_join(@post.answer.content.split("\n"),tag(:br)) %>
        </div>

        <div class="posts-time">
          <%= @post.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </div>


        <%= "post.id=#{@post.id}" %>
        <%= "user.id=#{@user.id}" %>
        <%= "answer.id=#{@answer.id}" %>
        <%= "answer_user_id=#{@answer_user.id}" %>

        <% if @like %>
          <%= button_to "/posts/#{@post.id}/answer/likes/#{@like.id}", method: :delete, data: { turbo: false } do %>
            <i class="fa-solid fa-heart like-btn"></i>
          <% end %>
        <% else %>
          <%= button_to "/posts/#{@post.id}/answer/likes", data: { turbo: false }  do %>
            <i class="fa-solid fa-heart dislike-btn"></i>
          <% end %>
        <% end %>
        <p><%= @likes.count %></p>

        <div class="posts-menus">
          <% if @post.answer.user_id == @current_user.id %>
            <div class="edit-menu" id='eliminate' >
              <%= button_to '削除', dummy_post_path(@post), class: 'button5' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="turn-back">
      <%= link_to '戻る', posts_path, data: { turbo: false }, class: 'return' %>
    </div>
  </div>
</div>

<div id="mask" class="hidden2"></div>

<section id="modal" class="hidden2">
  <p>本当に削除してよろしいですか？</p>
  <div class="buttons">
    <div id="del">
      <% if @post.user_id == @current_user.id %>
        <%= button_to '削除', post_path(@post), method: :delete, data: { turbo: false }, class: 'button2' %>
      <% elsif @post.answer %>
        <% if @post.answer.user_id == @current_user.id %>
          <%= button_to '削除', post_answer_path(@post), method: :delete, data: { turbo: false }, class: 'button2' %>
        <% end %>
      <% end %>
    </div>
    <div id="cancel">
      <p class="button1">中止</p>
    </div>
  </div>
</section>