<div class="page-title">
  <h3>質問詳細</h3>
</div>

<% ### 質問詳細　############################################################################## %>

<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="posts-user-image">
        <%= image_tag @user.avatar %>
      </div>
      <div class="posts-user-name"> 
        <%= @user.name %>
      </div>
      <div class="show-reward">
        <%= "報酬額: #{@post.reward}" %>
      </div>
      <div class="posts-title">
        <%= @post.title %>
      </div>
      <div class="posts-content">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </div>
      <div class="posts-time">
        <%= @post.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </div>



      <div class="posts-menus">
        <% if @post.user_id == @current_user.id %>
          <div class="edit-menu">
            <%= link_to '編集', edit_post_path, data: { turbo_method: :get }, class: 'button1' %>
          </div>
          <div class="edit-menu" >
            <%= button_to '削除', dummy_post_path(@post), class: 'destroy-modal button5' %>
          </div>
        <% else %>
          <% if @post.answer.presence %>
            <div class="edit-menu">
              <%= link_to '回答済み', "#", id: 'commit_button', class: 'button4' %>
            </div>
            <div class="edit-menu">
              <%= button_to '回答', '#', id: 'answer_button', class: 'button4' %>
            </div>
          <% elsif !@post.commit %>
            <div class="edit-menu">
              <%= button_to 'コミット', commit_post_path(@post), id: 'commit_button', class: 'button3 lighten' %>
            </div>
            <div class="edit-menu">
              <%= link_to '回答', new_answer_path(post_id: @post.id), id: 'answer_button', class: 'button4' %>
            </div>
          <% elsif @post.commit == @current_user.id %>
            <div class="edit-menu">
              <%= button_to 'コミット解除', commit_post_path(@post), id: 'commit_button', class: 'button3' %>
            </div>
            <div class="edit-menu">
              <%= link_to '回答', new_answer_path(post_id: @post.id), id: 'answer_button', class: 'button1' %>
            </div>
          <% else %>
            <div class="edit-menu">
              <%= button_to 'コミット解除', "#", id: 'commit_button', class: 'button4' %>
            </div>
            <div class="edit-menu">
              <%= button_to '回答', '#', id: 'answer_button', class: 'button4' %>
            </div>
          <% end %>
          <div class="edit-menu">
            <%= button_to '返信', new_post_comment_path(@post), method: :get, class: 'button1' %>
          </div>
        <% end %>
      </div>
    </div>


<%#### 回答　########################################################################### %>
    
    <%= render partial: "/answer/answer", locals: { post: @post, like: @like, answer_user: @answer_user, likes_count: @likes_count } %>

<%#### 返信　########################################################################### %>

    <%= render partial: "/comments/comment", collection: @comments, locals: { post: @post } %>

    <%= "tcID=#{@tcid}" %>

    <div class="turn-back">
      <%= link_to '戻る', posts_path, data: { turbo: false }, class: 'return' %>
    </div>
  </div>
</div>

<div id="mask" class="hidden2"></div>

<section id="modal" class="hidden2">
  <p>本当に削除してよろしいですか？</p>
  <div class="buttons">
    <div id="del">
      <% if @post.user_id == @current_user.id then %>
        <%= button_to '削除', post_path(@post), method: :delete, data: { turbo: false }, class: 'button2' %>
      <% elsif @target_comment then %>
        <%= "target_comment=#{@target_comment.id}" %>
        <%= button_to '削除', "/posts/#{@post.id}/comments/#{@target_comment.id}", method: :delete, data: { turbo: false }, class: 'button2' %>
      <% end %>
    </div>
    <div id="cancel">
      <p class="button1"><% @target_comment %></p>
    </div>
  </div>
</section>