<!DOCTYPE html>
<html>
  <head>
    <title>RentalBrain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags("application") %>
    <script src="https://kit.fontawesome.com/be4e22ccae.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header0">
      <div class="header-logo">
        <%= link_to 'RentalBrain', root_path, class: "header-link1", data: { turbo: false } %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to "#{@current_user.name}さん", user_path(@current_user), data: { turbo: false }, class: "header-link2" %>
          </li>
          <li>
            <%= link_to '質問投稿', new_post_path, data: { turbo: false }, class: "header-link2" %>
          </li>
          <li>
            <%= link_to '質問一覧', posts_path, data: { turbo: false }, class: "header-link2" %>
          </li>
          <li>
            <%= link_to '回答者一覧', users_path, data: { turbo: false }, class: "header-link2" %>
          </li>
          <li>
            <%= link_to 'ログアウト', logout_users_path, data: { turbo: false }, class: "header-link2" %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
